body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#f5e5e5, #c6c7db);
}

header {
  display: flex;
  flex-direction: row;
}

.colourLogo {
  width: 30px;
  height: 30px;
  border: 2px solid gray;
  align-self: center;
  border-radius: 30px;
  margin-right: 15px;
  background: radial-gradient(#ec8f8f, #9198e5);
}

.headerTitle {
  color: rgb(153, 153, 182);
}

.colourDisplay {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 10px 1px 5px rgb(180, 174, 174);
}

.colourProps {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
}

.colourItem {
  background-color: rgb(235, 234, 234);
  max-width: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.colourName {
  text-decoration: underline;
  margin: 10px 0 0 0;
}

.colourHex {
  margin: 0;
}

.newColour {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
}
